.pro0{
    background-color: cadetblue;
    border-top: 8px black solid;
}


.pro1{
    text-align: center;
}
.pro3{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 20px;
    margin-left: 150px;
    grid-gap:190px;
    text-align: center;
}
.pro4 img{
    border: 2px solid black;
    border-radius: 10px;
     box-shadow: 5px 5px 5px black;
}
.pro5{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 220px 220px;
    grid-gap:170px;
    text-align: center;
    margin-left: 350px;
    margin-top:50px ;
    
    
}
.pro6{
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}
.pro3 h3{
    background-color: yellow;
    padding: 5px;
    border-radius: 15px;
}
.pro5 h3{
    background-color: yellow;
    padding: 5px;
    border-radius: 15px;
}
.pro7{
    width: 100%;
    height:450px;
    background-color: midnightblue;
    color:whitesmoke;
    margin-top: 150px;
    border-top: 10px solid red;
}
